.news__articles h2 {
  margin-top: 40px;
}

.news__list {
  list-style: none;
  padding-left: 0;
}
.news__list > li:not(:last-of-type) {
  margin-bottom: 40px;
}

.navbar {
  box-shadow: var(--boxShadow);
}
