.research figure {
  margin: 0;
}
.research figcaption {
  text-align: center;
}
.research section section:not(:last-of-type) {
  margin-bottom: 50px;
}

.research__links {
  margin-bottom: 30px;
}
.research__links > a {
  margin-right: 10px;
}

.research__signalling-mtor {
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 2px;
  height: auto;
  width: 100%;
}

.navbar {
  box-shadow: var(--boxShadow);
}