.resources h2 {
  font-size: 1.3em;
}
.resources h3 {
  color: #418545;
  font-size: 1.1em;
}

.resources__resource > ul {
  list-style: none;
  padding-left: 0;
}
.resources__resource > ul > li {
  padding-bottom: 15px;
}
.resources__resource > ul > li:not(:last-of-type) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  margin-bottom: 30px;
}
.resources__resource-description {
  align-items: center;
  display: flex;
}
.resources__resource-description picture {
  margin-left: 10px;
}
.resources__resource-description img {
  height: auto;
  min-width: 400px;
}

.resources__links {
  margin-bottom: 30px;
}
.resources__links > a {
  margin-right: 10px;
}

.resources__resource:not(:last-of-type) {
  border-bottom: 2px solid rgba(51, 51, 51, 0.3);
}
.resources__resource header {
  margin-bottom: 0;
}

.navbar {
  box-shadow: var(--boxShadow);
}

@media (max-width: 849px) {
  .resources__resource-description picture {
    display: none;
  }
}