body {
  --boxShadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  --fontDark: #333;
  background-color: #fff;
  color: var(--fontDark);
  font-family: 'Lato', sans-serif;
  line-height: 1.6em;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}
a:focus,
button:focus {
  outline: none;
}
a::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}
a:link {
  color: #2468e5;
}
a:visited {
  color: #1E6C60;
}
a:hover,
a:focus,
a:active {
  color: #23527c;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 10px 20px;
}

p {
  text-align: justify;
}

.fa-secondary {
  opacity: .4;
}

.footer-nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.footer__links {
  margin-bottom: 10px;
}
.footer__links a {
  margin: 5px;
}

.home {
  align-items: center;
  background-image: url(assets/images/background.svg);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.home section {
  box-sizing: border-box;
  margin-bottom: 50px;
  max-width: 900px;
}

.home section.home__anne-claude {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--boxShadow);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 35px 30px;
}
.home__anne-claude-about {
  margin-left: 40px;
}
.home__anne-claude-links {
  display: flex;
}
.home__anne-claude-links a:not(:last-child) {
  margin-right: 10px;
}
.home__anne-claude img {
  min-height: 268px;
  min-width: 200px;
}

.home__landing {
  align-items: center;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: auto;
  height: 60vh;
  min-height: 500px;
  overflow: hidden;
}
.home section.home__landing {
  max-width: 1300px;
  width: 100%;
}
.home__landing-description {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--boxShadow);
  grid-column: 1 / 3;
  grid-row: 1;
  justify-self: center;
  max-width: 500px;
  opacity: 0.95;
  padding: 0 20px;
  z-index: 2;
}
.home__landing h1 {
  font-size: 2em;
}
.home__landing img {
  border-radius: 3px;
  grid-column: 2 / 4;
  grid-row: 1;
  justify-self: end;
  margin-left: 50px;
}
.home__landing p {
  font-size: 1.1em;
}

.home__news {
  margin-top: 20px;
}
.home__news h2 {
  text-align: center;
}
.home__news time {
  color: rgba(51, 51, 51, 0.8);
}
.home__news ul {
  list-style: none;
  padding: 0 30px;
}
.home__news li {
  display: block;
  margin: 15px 0;
  padding: 20px 0;
}
.home__news li:not(:last-of-type) {
  border-bottom: 1px solid;
  border-color: rgba(51, 51, 51, 0.1);
}
.home__news-inner {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--boxShadow);
}

.home__project {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--boxShadow);
  display: flex;
  margin: 30px 0;
  padding: 10px;
}
.home__project > * {
  margin: 20px;
}
.home__projects {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home__projects .fa-primary {
  fill: #12c2e9;
}

.home__waves {
  background-image: url(assets/images/waves.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  opacity: 0.6;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  width: 20%;
  z-index: -1;
}

.navbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
}
.navbar__home {
  font-size: 1.2em;
  text-transform: uppercase;
}
.navbar__left a {
  margin: 0 5px;
}
.navbar__links {
  border-left: 1px solid #333;
  margin-left: 8px;
  padding-left: 8px;
}
.navbar__menu {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  transform-origin: top right;
  transition: 0.2s all ease;
}
.navbar__menu a:visited {
  color: #2468e5;
}
.navbar__menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  right: 5px;
  top: 5px;
}
.navbar__menu-button svg {
  fill: var(--fontDark);
  transition: 0.3s fill ease;
}
.navbar__menu-button:focus svg,
.navbar__menu-button:hover svg {
  fill: #5C6BC0;
}
.navbar__menu-container {
  display: none;
}
.navbar__menu.open {
  opacity: 1;
  transform: scale(1);
}
.navbar__right {
  margin-left: auto;
  position: relative;
}
.navbar__left a {
  color: var(--fontDark);
  text-decoration: none;
}
.navbar__left a:focus,
.navbar__left a:hover {
  border-bottom: 1px solid #5C6BC0;
  color: #5C6BC0;
}
.navbar__right a {
  align-items: center;
  display: flex;
  fill: var(--fontDark);
  text-decoration: none;
}
.navbar__right a:focus,
.navbar__right a:hover {
  fill: #5C6BC0;
}

@media (max-width: 749px) {
  .navbar__links {
    display: none;
  }
  .navbar__menu-container {
    display: inline;
  }
  .navbar__right > a {
    display: none;
  }
}
